pandas
numpy
python-dotenv 
certifi # Provides certs needs for Confluent TLS

# Kafka
kafka-python

# Tinybird
tinybird-cli

# Snowflake
snowflake-connector-python

# AWS
boto3

# Google Cloud
google-cloud-bigquery
google-cloud-storage

# Visualisation
streamlit
watchdog # Interactive refreshes for streamlit